.banner{
    max-height:1200px;
}
.the_background{
    width:100%;
    max-height:1200px;
    position: absolute;
    z-index:-1;
    top:5%;;
    left:0;
    

}
.center_section{
    margin-top:20%;
    text-align:center;
   
}

.cb{
     font-size:3vw;
     padding:1%;
     padding-left:2%;
     padding-right:2%;
     padding-bottom:2%;
     border-radius: 4%;
     font-family: Montserrat;
     background-color:rgb(255, 66, 66);
     border-color: rgb(255, 66, 66);
    
}

.btn-primary:hover{
    background-color:#C14747;
    border-color:#C14747;
}
.btn-primary:active{
    background-color:#C14747;
    border-color:#C14747;
}
.btn-primary:focus{
    background-color:#C14747;
    border-color:#C14747;
}

.sub_btn{
    text-align:center;
    color: white;
    font-family: Montserrat;
    font-size:1vw;
}
.sub_btn:hover{
    color:#D8D8D8;
    text-decoration:none;
}
.part{
    margin-top:-2.5%;
}