@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');
* {
	font-family: 'Ubuntu', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.main{
	min-height: 83%;
	padding-top: 20px;
}

.main form {
	padding: 3%;
}

.footer {
	text-align: center;
	background-color: #6c757d;
	color: white;
	min-height: 10%;
}

.footer p {
	font-weight: 300;
	padding: 20px;
	margin-bottom: 0;
}

.footer hr {
	background-color: black;
}

input .is-valid {
	border-color: #28a745 !important;
}

input .is-invalid {
	border-color: #dc3545 !important;
}

.logo{
	width:150px;
	height:50px;
	padding:10px;
}