@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');
* {
	font-family: 'Ubuntu', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	
}

.navbar{
	background-color:white !important;
	box-shadow: 0px 15px 25px grey;
	max-height:10%;
}

.main{
	min-height: 80.35%;
	padding-top: 20px;
	
}

.main form {
	padding: 3%;
}

.footer {
	text-align: center;
	background-color: #6c757d;
	color: white;
	min-height: 20%;
	margin-top:10%;
}

.footer p {
	font-weight: 300;
	padding: 20px;
	margin-bottom: 0;
}

.footer hr {
	background-color: black;
}

input .is-validgit {
	border-color: #28a745 !important;
}

input .is-invalid {
	border-color: #dc3545 !important;
}
.logo{
	max-width:12%;
	margin-left:10%;
	margin-top:-2%;
	min-width:100px;
}

.navbar-collapse{
	float:right;
}

#navbarSupportedContent{
	float:right;
}

.nav-link{
	display:inline-block !important;
	float: right;
}

.navbar-nav{
	margin-left:
}

.nav-link{
	font-family: Montserrat;
	color:black;
	text-decoration:none;
	border-bottom:3px solid red;
}

.nav-item{
	padding-left:40px;
	padding:20px;
}
.navbar-toggler{
	margin-top:-20%;
	
}
.button.navbar-toggler{
	margin-top:-22%;
	
}

.nav-login{
	border-radius:2px;
	margin-top:5%;
	font-family: Montserrat;
}