{% extends 'main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/auth.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/auth.js')}}"></script>
{% endblock %}

{% block body %}
<div class="container">
	<h1>Welcome</h1>
	<p>Please login or register below</p>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" href="">Login</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="">Register</a>
		</li>
	</ul>
	<div class="steph-login">
		<form>
			<div class="form-group">
				<label for="login-user">Username or Email address</label>
				<input type="email" class="form-control" id="login-user" aria-describedby="emailHelp" placeholder="Enter username or email">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="login-pass">Password</label>
				<input type="password" class="form-control" id="login-pass" placeholder="Password">
			</div>
			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="login-chck">
				<label class="form-check-label" for="login-chck">Remember me</label>
			</div>
			<button type="submit" class="btn btn-primary login-btn">Submit</button>
		</form>
	</div>
	<div class="steph-register">
		<form>
			<div class="form-group">
				<label for="register-username">Username</label>
				<input type="email" class="form-control" id="register-username" placeholder="Enter username">
			</div>
			<div class="form-group">
				<label for="register-email">Email address</label>
				<input type="email" class="form-control" id="register-email" aria-describedby="emailHelp" placeholder="Enter email">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="register-password">Password</label>
					<input type="password" class="form-control" id="register-password" placeholder="Type Password">
					<small id="passwordHelp" class="form-text text-muted">The passwords are hashed so dont worry about me stealing them</small>
				</div>
				<div class="form-group col-md-6">
					<label for="register-password2">Confirm Password</label>
					<input type="password" class="form-control" id="register-password2" placeholder="Re-Type Password">
				</div>
			</div>
			<button type="submit" class="btn btn-primary register-btn">Submit</button>
		</form>
	</div>
</div>
{% endblock %}