{% extends 'main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/body.css')}}">
<script src="{{url_for('.static', filename='js/main.js')}}"></script>
{% endblock %}

{% block body %}

   <div class="container-fluid banner">
        <img class="the_background" src="{{url_for('.static', filename='media/bng.png')}}" />
  </div>

  <div class="center_section">
      <button type="button" class="btn btn-primary btn-lg cb" onclick="window.location.pathname = '{{url_for('auth')}}'">Get Started</button>
      <div class="part">
        <a class="sub_btn " href="{{url_for('auth')}}">Login / SignUp</a>
      </div>
  </div>

  <div class="under">
    <div class="container">
      <div class="row a">
        <div class="col one">
          1 of 2
        </div>
        <div class="col two">
          2 of 2
        </div>
      </div>

  </div>

{% endblock %}

