{% extends 'main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/body.css')}}">
<script src="{{url_for('.static', filename='js/main.js')}}"></script>
{% endblock %}

{% block body %}

   <div class="container-fluid banner">
        <img class="the_background" src="{{url_for('.static', filename='media/bng.png')}}" />
  </div>

  <div class="center_section">
      <button type="button" class="btn btn-primary btn-lg cb" onclick="window.location.pathname = '{{url_for('auth')}}'">Get Started</button>
      <div class="part">
        <a class="sub_btn " href="{{url_for('auth')}}">Login / SignUp</a>
      </div>
  </div>

  <div class="under">
    <div class="container">
        <div class="row a">
            <div class="col one">
               <img class="img1" src="{{url_for('.static', filename='media/img1.png')}}" />
            </div>
            <div class="col two">
                <p> step(1) First plug in yopur device and wait for the bootup to start then, wiat it see the updated website portal</p>
                
                <p> step(2) First plug in yopur device and wait for the bootup to start then, wiat it see the updated website portal</p>
            </div>
      </div>
      <div class="row a">
        <div class="col one">
           <img class="img2" src="{{url_for('.static', filename='media/img2.png')}}" />
        </div>
        <div class="col two">
            <p> step(3)First plug in yopur device and wait for the bootup to start then, wiat it see the updated website portal</p>
            <p> step(4) First plug in yopur device and wait for the bootup to start then, wiat it see the updated website portal</p>
        </div>
  </div>
      
    </div>
  </div>

{% endblock %}

