{% extends 'main.html' %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/class_make.js')}}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/class_make.css')}}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>
                General Details
            </h3>
            <hr>
            <form>
                <div class="form-group">
                    <label for="class-name">Name</label>
                    <input type="text" class="form-control" id="class-name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="class-desc">Description</label>
                    <textarea rows="5" class="form-control" id="class-desc" placeholder="When/what is the class"></textarea>
                </div>
                <button class="btn btn-primary make-class-btn">Create!</button>
            </form>
        </div>
        <div class="col-8">
            <h3>
                Add Students
            </h3>
            <hr>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button 
                        class="btn btn-outline-secondary dropdown-toggle search-name"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Name
                    </button>
                    <div class="dropdown-menu search-choose-menu">
                        <a id="name-selected" class="dropdown-item search-choose active" href="#">Name</a>
                        <a class="dropdown-item search-choose" href="#">Student ID</a>
                    </div>
                </div>
                <input type="text" class="form-control search-text-input" aria-label="Text input with dropdown button" placeholder="Search for results">
            </div>
            <ul class="nav nav-tabs class-tabs">
                <li class="nav-item">
                    <a class="nav-link class-groups active" href="#">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link class-groups" href="#">Selected</a>
                </li>
            </ul>
            <div class="students search-students row">
                {% for student in students %}
                <div class="student card text-white mb-3 col">
                    <div class="card-body">
                        <h5 class="card-title student-id">{{student.id}}</h5>
                        <p class="card-text">{{student.student_id}}<br>{{student.student_name}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="students selected-students row">
                {% for student in students_edit %}
                <div class="student card text-white mb-3 col">
                    <div class="card-body">
                        <h5 class="card-title student-id">{{student.id}}</h5>
                        <p class="card-text">{{student.student_id}}<br>{{student.student_name}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="centered">
                <button class="btn btn-primary centered changes-apply">Apply Changes!</button>
            </div>
            <hr>
            <div class="footer-student centered">
                <p>Student not found? Maybe register them or try searching with rfid</p>
                <div class="row">
                    <div class="col centered">
                        <button class="btn btn-secondary register-student">Make new Student</button>
                    </div>
                    <div class="col centered">
                        <button class="btn btn-secondary rfid-search">Search with RFID</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}