{% extends 'main.html' %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/dash.js')}}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/dash.css')}}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h3>Classes</h3>
            <hr>
            <div class="jumbotron">
            {% if not classes %}
                <h1 class="display-4">No Classes</h1>
                <p class="lead">You seem to not have created any classes yet</p>
                <hr class="my-4">
                <p>Creating a class is easy! try making one by clicking the button below</p>
                <a class="btn btn-primary btn-lg class_create" href="{{url_for('class_make')}}" role="button">Create Class</a>
            {% else %}
            {% for class in classes %}
                <div class="col-lg-3" style="max-width: 18rem;" >
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{class.title}}</h5>
                            <p class="card-text">{{class.desc}}</p>
                            <a href="{{url_for('class_id', c_id=class.id)}}" class="btn btn-primary">Mark</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="col-4">
            <h3>Previous Rolls</h3>
            <hr>
            {% if not rolls %}
                <div class="jumbotron">
                <small class="lead">Mark some classes!</small>
                </div>
            {% else %}
            {% for roll in rolls %}
                <div class="jumbotron">
                    <p>{{Class.query.get(roll.class_id).title}} was marked at {{roll.date}}</p>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}