{% extends 'main.html' %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/dash.js')}}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/dash.css')}}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h3>Classes</h3>
            <hr>
            {% if classes %}
            
            {% else %}
            {% for class in classes %}
                <div class="col-lg-3">
                    <div class="card {{class.title}}">
                        <div class="card-body">
                            <h5 class="card-title">{{class.title}}</h5>
                            <p class="card-text">{{class.desc}}</p>
                            <a href="{{url_for('class_id', c_id=class.id)}}" class="btn btn-primary">Mark</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-4">
            <h3>Previous Rolls</h3>
            <hr>
        </div>
    </div>
</div>
{% endblock %}