{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{{url_for('index')}}">
		<img class="logo" src="{{url_for('.static', filename='media/logo.png')}}"/>
	</a>
	<hr>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="bar">

			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Home</a>
			</li>
			
			{% if current_user.is_authenticated %}
			<li class="nav-item active">
				<a class="nav-link" href="#">Dash</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Classes</a>
			</li>
			{% endif %}
		</ul>
		<div class="btn-group">
			{% if not current_user.is_authenticated %}
			<button type="button" class="btn btn-secondary nav-login">Login</button>
			{% else %}
				{% if user %}
			<button type="button" class="btn btn-secondary nav-profile">{{user.name}}</button>
				{% else %}
			<button type="button" class="btn btn-secondary nav-profile">Account</button>
				{% endif %}
			
			<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
			aria-haspopup="true" aria-expanded="false">
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Account</a>
				<a class="dropdown-item" href="#">Settings</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
			</div>
			{% endif %}
		</div>
	</div>
</nav>
{% endblock %}

{% block footer %}
<div class="footer">
	<hr>
	<p><small>Made by Stephan Kashkarov | gitbub: https://github.com/Stephan-kashkarov/KeepCheck</small></p>
</div>
{% endblock %}