{% extends 'main.html' %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/student_make.js')}}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/student_make.css')}}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Make a new Student!</h1>
    <hr>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-student-check">Check</button>
        </div>
        <input id="student-id" type="text" class="form-control" placeholder="Student ID" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
    <div class="input-group mb-3">
        <input id="student-name" type="text" class="form-control" placeholder="Student Name">
    </div> 
    <hr>
    <div class="jumbotron">
        <h1 class="display-4">Get RFID</h1>
        <hr class="my-4">
        <p>
            Please select your RFID station and scan the students student ID
            (This only works if the card is half myway)
        </p>
            <button
                class="btn btn-outline-secondary dropdown-toggle dropdown-button-station"
                type="button" 
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                Select RFID
            </button>
            <div class="dropdown-menu dropdown-rfid">
                {% if stations %}
                {% for stationID, stationName in stations %}
                <a class="dropdown-item station-choose" id="{{stationID}}" href="">{{stationName}} - {{stationID}}</a>
                {% endfor %}
                {% else %}
                <a class="dropdown-item disabled" href="">No Stations available</a>
                <a class="dropdown-item refresh" href="">Refresh Stations</a>
                {% endif %}
            </div>
            <button class="btn btn-outline-secondary search-station" type="button">
                Get RFID
            </button>
    </div>
    <button class="btn btn-primary create-student" type="button">
        Create Student
    </button>
</div>
{% endblock %}